<h2>About Jaclyn</h2>
<div class="row">
  <p>Graduate of the Flatiron School, Full-Stack Development Program. Hard-working, ambitious, razor-sharp professional bringing 14 years experience as an Art Director and Creative Director, to the perspective of a software engineer. I'm not afraid to experiment and I have a penchant for pushing the envelope–Which is why I took the leap over to the development side.</p>

  <p>I strive to design and develop innovative, usable, and buildable websites and applications. Lover of all aspects of experience design, including interaction design and information architecture; delighting users with apps that inspire, engage and excite them.</p>

  <p>I use a wide variety of technology with a focus on writing well designed code, with a passion for new technologies and continuous learning.</p>
</div>

<div class="row">
  <p class="col-md-6"><span>On the Front End I use:</span> HTML, CSS, SASS, Javascript, jQuery, Angular.js, React.JS, Capybara, Karma, Protractor</p>

  <p class="col-md-6"><span>On the Back End I use:</span> Ruby/Rails, Sinatra, MySQL, SQL, SQLite, ReSTful architecture, MVC architecture, RSpec, AJAX, API consumption and development</p>
</div>
<div class="row">
  <p class="col-md-8 col-md-offset-3"><span>On the Design Front I have extensive experience with:</span> 
  Adobe Creative Suite, QuarkXPress, Wordpress, Shopify, Mailchimp, Constant Contact
  Content strategy, IA, Responsive website design, branding and identity, graphic design, concept development, creative direction, retouching, typography, copy-writing, illustration, photography. </p>
</div>